*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    font-family:Ubuntu;

    
}
body {
     background-color:rgb(0, 0, 0);
     /*
     height:300vh;
    background-image:url("test (1).jpg");
    background-size: 100vw; */ 
    font-family:Ubuntu;
}
a:hover{
    transform: scale(1.08);

}
.logo{
  font-size: 22px;
  font-weight: bold;
  color:#FFC857;
  text-decoration: none;

}
.navbar {
    position: sticky;

  top: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  z-index: 1;
}
.navgrid{
    padding-left:40px;
    padding-right:40px;
    display:grid;
    width:100%;
    grid-template-columns:1fr 1fr 2fr;    

}
.navflex{

    display:flex;
    flex-wrap:no-wrap;
    /* justify-content:space-between; */
     /* could use this after switching screen size... for desks top normal gap?? */
    gap:50px;
}
.navflex a{
    font-weight:bold;
    font-size:15px;
    text-decoration:none;
    color:black;
}
#current{
    border-bottom:2px solid black;
}
.mobnav{
    display:flex;
    width:100vw;
    gap:10px;
    justify-content:space-between;
    background:white;
    position:fixed;
    bottom:0px;
    padding-left:5vw;
    padding-right:5vw;
    display:none;
    box-shadow:0 2px 10px black;
    z-index:1;
    
}
.mobnav img{
    width:10vw;
    padding:2px;
}
.mobbanner{
    display:none;
    height:80vh;
    background-image:url('mobbanner.jpg');
    background-size:cover;
    text-align:right;
    padding-top:50%;
}
.mobbanner p {
    font-size:60px;
    color:white;
    font-weight:bold;
}

.endthing{
    background-color:black;
    height:300px;
    padding:30px;
    position:relative;
    margin-top:100px;
}
.cprt{
    color:white;
    position:absolute;
    bottom:5px;
}
h3{
    color:white;
    margin-top:20px;
    margin-bottom:10px;
}
.win img{
    width:20%;
}
.cntctlnks{
    position:absolute;
    right:120px;
    color:white;
    top:40px;
    font-size:30px;
    text-align:center;
    font-weight:bold;
}
.cntctlnks img{
    width:40px;
}


.banner{
    height:40vw;
    background-image:url("photos/aboutban.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.banner p{
    text-align:right;
    position:relative;
    left:50%;
    font-weight:bold;
    font-size:7vw;
    width:50%;
    color:#FF9F1C;
}
.banner input{
    position:relative;
    top:20%;
    width:80%;
    text-align:center;
    height:min(70px,20%);
    font-size:min(5vw,20px);
    border:1px solid #FFC857;
    border-radius:5px;
    margin-left:10%;
}



.fooddiv{
    display:flex;
    width:90%;
    background-color:#FFC857;
    height:250px;
    margin:auto;
    border-radius:10px;
    overflow:auto;
    gap:80px;
    padding:25px;
    margin-top:100px;
}
.foodpic{
    position:relative;
    height:200px;
    width:200px;
    background-color:red;
    flex-shrink:0;
    border-radius:5%;
    overflow:hidden;
    box-shadow:2px 2px 5px rgb(249, 0, 42);
}

.title{
    margin:6vw;
    margin-bottom:-80px;
    font-size:60px;
    font-weight:bold;
    color:white;
}


.foodpic img{
    width:100%;
    object-fit:cover;
}
.foodpic p{
    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
    font-size:30px;
    font-weight:normal;
    background-color:white;
}










@media (max-width:480px){
    .mobnav{
        display:flex;
     }
     .mobbanner{
        display:block;
        overflow:auto;
     }
     .navgrid{
        display:flex;
        justify-content:center;
     }
     .navbar{
        background-color:#FFC857;
    }
    .navflex{
        display:none;
    }
    .logo{
        color:white;
        font-weight:bolder;
    }
    .cprt{
        margin-bottom:45px;
     }
    .win img{
        width:30%;
    }
    .cntctlnks{
        display:none;
    }
    .title{
        font-size:45px;
    }
    .fooddiv{
        height:150px;
        gap:30px;
    }
    .foodpic{
        height:100px;
        width:100px;
    }
    .foodpic p{
        font-size:15px;
    }
}
@media (min-width:481px) and (max-width:768px){
.navflex{
    gap: 25px;
}
.cntctlnks{
    display:none;
}
.navflex a{
    font-size: 14px;
  }

  .navgrid{
    padding: 0 20px;
  }
.title{
    font-size:45px;
}
.fooddiv{
        height:200px;
        gap:45px;
    }
    .foodpic{
        height:150px;
        width:150px;
    }
    .foodpic p{
        font-size:25px;
    }
}