* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Ubuntu;

}

a:hover {
    transform: scale(1.08);
}

body {
    background-color: rgb(0, 0, 0);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #FFC857;
    text-decoration: none;

}

.navbar {
    position: sticky;

    top: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    z-index: 1;
}

.navgrid {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 2fr;

}

.navflex {

    display: flex;
    flex-wrap: no-wrap;
    /* justify-content:space-between; */
    /* could use this after switching screen size... for desks top normal gap?? */
    gap: 50px;
}

.navflex a {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

#current {
    border-bottom: 2px solid black;
}

.mobnav {
    display: flex;
    width: 100vw;
    gap: 10px;
    justify-content: space-between;
    background: white;
    position: fixed;
    bottom: 0px;
    padding-left: 5vw;
    padding-right: 5vw;
    display: none;
    box-shadow: 0 2px 10px black;
    z-index: 1;

}

.mobnav img {
    width: 10vw;
    padding: 2px;
}

.mobbanner {
    display: none;
    height: 80vh;
    background-image: url('mobbanner.jpg');
    background-size: cover;
    text-align: right;
    padding-top: 50%;
}

.mobbanner p {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

.endthing {
    background-color: black;
    height: 300px;
    padding: 30px;
    position: relative;
}

.cprt {
    color: white;
    position: absolute;
    bottom: 5px;
}

h3 {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.win img {
    width: 20%;
}

.cntctlnks {
    position: absolute;
    right: 120px;
    color: white;
    top: 40px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.cntctlnks img {
    width: 40px;
}

.banner {
    background-color: #FFC857;
    height: 500px;
    width: 100%;
}

.bantxt {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.banpar {
    margin: auto;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5vw;
    text-align: center;
    text-shadow: 0 0 2px #FF9F1C;
}

.bandiv {
    height: 10%;
    text-align: center;
    object-fit: contain;
}


.bantx {
    position: relative;
    top: 45%;
}


.content {
    background-color: #F5F5F5;
    margin: 50px 10%;

    width: 80%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 5vw;
    box-shadow: 0 0 10px rgb(203, 198, 198);
}

.conflex {
    display: flex;
    width: 100%;

    justify-content: center;
    gap: 10px;
    align-items: flex-end;
}

.content span {
    color: #FFC857;
}

.profile {
    height: 15vw;
    width: 15vw;
    background-color: black;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile p {
    font-size: 20%;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80%;
    font-weight: bold;
    color: white;
    background-color: black;
}

.profile img {
    width: 100%;
    object-fit: cover;
}

#big {
    height: 20vw;
    width: 20vw;
}


@media (max-width:480px) {
    .mobnav {
        display: flex;
    }

    .mobbanner {
        display: block;
        overflow: auto;
    }

    .navgrid {
        display: flex;
        justify-content: center;
    }

    .navbar {
        background-color: #FFC857;
    }

    .navflex {
        display: none;
    }

    .logo {
        color: white;
        font-weight: bolder;
    }

    .cprt {
        margin-bottom: 45px;
    }

    .win img {
        width: 30%;
    }

    .cntctlnks {
        display: none;
    }

    .banpar {
        font-size: 12px;
        padding: 10px;
    }

    .bantxt {
        font-size: 30px;
    }

    .bandiv img {
        height: 250px;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .navflex {
        gap: 25px;
    }

    .cntctlnks {
        display: none;
    }

    .navflex a {
        font-size: 14px;
    }

    .navgrid {
        padding: 0 20px;
    }

    .bantxt {
        font-size: 30px;
    }

    .banpar {
        font-size: 12px;
        padding: 10px;
    }
}
.about{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-items: center;
    align-items:center;
    row-gap:10px;
    height:auto;
    width:100%;
}
.about p{
    font-size:40%;

}
.aboutpic {
    height:15vw;
    width:15vw;
    border-radius:50%;
    overflow:hidden;
}
.aboutpic img{
    object-fit:contain;
    height:100%;
    width:100%;
}
.abouttxt{
    grid-column: span 2; 
    color:#FF9F1C;
}